html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    display: grid;
    grid-template: 1fr / 1fr 5fr;
    height: 100%;
}

#dashboard {
    background-color: blue;
    grid-column: 1 / 2;
}

#content {
    grid-column: 2 / 3;
    background-color: red;
    display: grid;
    grid-template: 1fr 5fr / 1fr;
}

#header {
    grid-row: 1 / 2;
    background-color: white;
}