html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#page-container {
    display: grid;
    grid-template: 1fr / 1fr 5fr;
    height: 100%;
}

#dashboard {
    background-color: #1992d4;
    grid-column: 1 / 2;
}

#main-container {
    grid-column: 2 / 3;
    background-color: red;
    display: grid;
    grid-template: 1fr 5fr / 1fr;
}

#header {
    grid-row: 1 / 2;
    background-color: white;
}

#content {
    grid-row: 2 / 3;
    background-color: #e2e8f0;
}