html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#page-container {
    display: grid;
    grid-template: 1fr / 1fr 5fr;
    height: 100%;
}

#dashboard {
    background-color: #1992d4;
    grid-column: 1 / 2;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: .5fr 4fr;
    grid-auto-rows: 2.2rem;
    align-items: center;
    column-gap: 15px;
    padding: 0 25px 0 25px;
}

.dashboard-grid a {
    text-decoration: none;
}

#main-container {
    grid-column: 2 / 3;
    background-color: red;
    display: grid;
    grid-template: 1fr 5fr / 1fr;
}

#header {
    grid-row: 1 / 2;
    background-color: white;
}

#content {
    grid-row: 2 / 3;
    background-color: #e2e8f0;
}

#dashboard h1, #dashboard h3 {
    color:white;
    font-family: "Roboto";
}

h1 {
    font-size: 1.5rem;
}

#dashboard svg {
    fill: white;

}

#dashboard-logo-container {
    display: grid;
    grid-template-columns: 1.2fr 4fr;
    align-items: center;
    padding: 1rem 12px 0 12px;
    margin: 0 0 1rem
}

#dashboard-section1 {
    margin: 0 0 2rem 0;
}

h3 {
    font-size: 1rem;
}

#header {
    padding: 1rem 2rem 1rem 2rem;
}

#header-top {
    display: flex;
    align-items: center;
}

#header-top svg {
    width: 24px;
    height: 24px;
}

#search-icon {
    margin: 0 1rem 0 0;
}

#searchbar {
    border: none;
    border-radius: 10px;
    width: 50%;
    height: 24px;
    background-color: #e2e8f0;
    padding: 10px;
    margin: 0 20% 0 0;
}

.user-logo {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

#notification-icon, #header-user-logo, #user-name {
    margin: 0 1.5rem 0 0;
}